<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Manage Students</title>
</head>
<body>
<div class="container">
    <h2 class="form-signin-heading">Hello Professor</h2>
</div>
</body></html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Form Wave Login</title>-->
<!--    <link th:href="@{/css/home.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/css/logoutButton.css}" rel="stylesheet"/>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1 class="form-signin-heading">👋 Hello Professor!</h1>-->
<!--</div>-->
<!--<form action="#" th:action="@{/logout}" method="get">-->
<!--    <button class ="btn" type="submit">Logout</button>-->
<!--</form>-->
<!--<script type="text/javascript" th:src="@{/js/home.js}"></script>-->
<!--</body>-->
<!--</html>-->