<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Wave Login</title>
    <link th:href="@{/css/signup.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1> Please Sign up</h1>
    <form method="post" action="/signup" th:object="${newUser}">

        <div class="form-control">
            <input type="text" required th:field="*{firstName}">
            <label>First Name</label>
        </div>

        <div class="form-control">
            <input type="text" required th:field="*{lastName}">
            <label>Last Name</label>
        </div>

        <div class="form-control">
            <input type="text" required th:field="*{email}">
            <label>Email</label>
        </div>

        <div class="form-control">
            <input type="text" required th:field="*{userName}">
            <label>UserName</label>
        </div>

        <div class="form-control">
            <input type="password" required th:field="*{password}">
            <label>Password</label>
        </div>

        <div class="form-control">
            <input type="password" required>
            <label>Confirm Password</label>
        </div>

        <div class="form-control" label for="role">Choose your Role:</label>
            <select name="role" id="role" th:field="*{roleName}">
                <option value="STUDENT">STUDENT</option>
                <option value="PROFESSOR">PROFESSOR</option>
            </select>
        </div>

        <button class="btn">Sign Up</button>
        <p class="text">Already Have Account? <a href="/login">Sign In</a></p>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/signup.js}"></script>
</body>
</html>